@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* debugging css */
  // outline: solid 0.25rem hsla(210, 100%, 100%, 0.5);
}

/****** 註冊頁面 ******/

label {
  font-size: 20px;
  font-family: "Aldrich", sans-serif;
  font-weight: 600 !important;

  line-height: 35px;
  color: #cd33b4 !important;
}

.login {
  width: 78%;
  /* position: fixed; */
  z-index: 2;
  min-height: 100vh;
  display: flex;
}

.login .loginContainer {
  font-size: 14px;
  z-index: 3;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border-radius: 10px;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.login .loginContainer .download {
  color: red;
  font-size: 16px;
  a {
    color: #25d366;
  }
}

/* 通知 */

.notification-wrapper {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
}

.notification-item {
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  animation: SlideLeft 4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  /* animation-duration: 1s;
  animation-name: SlideRight; */
  animation: SlideRight 4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  background-color: #2e302e;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: #65d266;
}

.notification-item.error .bar {
  background-color: red;
}

._3M9lzn {
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.PeA8Gc {
  justify-content: flex-end;
  align-content: center;
  margin-top: 1px !important;
}
.regist-bgimg-container {
  margin: 2% auto;
  background-color: #2cb3ff;
  overflow-y: hidden;
}

/* icons */
/* for desktop */
.fa-whatsapp {
  font-size: 63px;
  color: #25d366;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 39px;
  right: 100px;
  z-index: 100;
}

.fa-telegram {
  font-size: 55px;
  color: #1175da;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 30px;
  z-index: 100;
}

/* for mobile */

@media screen and (max-width: 768px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }

  .login {
    z-index: 2;
    // height: 400px;
    // min-height: 115vh;
    display: flex;
  }

  .login .loginContainer input {
    font-size: 14px !important;
  }

  label {
    font-size: 20px;
    font-family: "Aldrich", sans-serif;
    line-height: 35px;
    color: #cd33b4 !important;
  }
}


