@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap");

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Nunito", sans-serif;
  /* debugging css */
  /* outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); */
}

.App {
  text-align: center;
}

/* body {
  overflow: hidden;
} */
/****** 註冊頁面 ******/

/*  */
button {
  margin: 10px;
  border: none;
  outline: none;
  /* width: 100%; */
  padding: 10px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  z-index: 2;
  /* width: 100%; */
  min-height: 100vh;
  margin-bottom: 0;
  /* min-height: 100%; */

  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  z-index: 3;
  padding: 40px;
  margin: auto;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}
.login .loginContainer input {
  /* width: 100%; */
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.login .loginContainer .download {
  color: red;
  font-size: 16px;
}

/* 通知 */

.notification-wrapper {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
}

.notification-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  /* animation-duration: 1s;
  animation-name: SlideLeft; */
  animation: SlideLeft 4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  /* animation-duration: 1s;
  animation-name: SlideRight; */
  animation: SlideRight 4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  background-color: #2e302e;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: #65d266;
}

.notification-item.error .bar {
  background-color: red;
}
