.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  /* padding: 20px 40px; */
}

.defaultBytton {
  margin-top: 9px;
  margin-bottom: 8px;
  width: 34%;
  height: 7%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 7px 8px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #cd33b4;
  cursor: pointer;
  font-family: "Aldrich", sans-serif;
}

.defaultBytton-regist {
  margin: 15px 0 8px 0px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 12px 10px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  background: #cd33b4;
  cursor: pointer;
  font-family: "Aldrich", sans-serif;
}

a {
  text-decoration-color: #cd33b4;
}

.download-desktop {
  position: relative;
}

.center {
  text-align: center;
}

.center-desktop-desktop {
  margin-top: 5%;
  position: absolute;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-desktop {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-icon-desktop {
  width: 187% !important;
}

.download-icon {
  margin-top: 4px;
  width: 61%;
  height: 30%;
}

.header h2 {
  margin: 0;
}

.flex {
  padding-top: 30px !important;
  padding-left: 15px !important;
  padding-right: 35px !important;
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  /* display: block; */
  display: inline-block;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 1;
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px !important;
}

// 預設按鈕位置
.form-control .icon {
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: -12px;
}

// 驗證碼按鈕位置
.form-control .CheckSms {
  visibility: hidden;
  position: absolute;
  top: 11px;
  right: -12px;
}

.form-control input:focus {
  outline: 0;
  border: 2.5px solid #cd33b4;
}

.form-control.success input {
  border-color: #2ecc71;
}

.icon.success {
  color: #2ecc71;
  visibility: visible;
}

.icon.error {
  color: #e74c3c;
  visibility: visible;
}

.green {
  color: #2ecc71;
}
.red {
  color: #e74c3c;
}

.banner-area {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 3px auto 0;
  position: fixed;
}

.content-area {
  min-width: 543px;
  position: relative;
  margin: 3px 7% 0px auto;
  left: 50px;
}
