.phone-container {
  margin-bottom: -32px;
}

.MuiSelect-icon {
  top: calc(50% - 12px);
  color: #cd33b4 !important;
  right: 0;
  position: absolute;
  pointer-events: none;
}

.MuiInput-underline:after {
  display: none !important;
}

.MuiInput-underline:before {
  display: none;
}
