.card {
  padding: 34% 10px;
}

.form-control {
  position: relative;
  width: 100%;
}

.inner-box {
  position: relative !important;
  width: 100% !important;
  height: 100vh !important;
  margin: 0 0;
}

.card-font {
  position: absolute !important;
  width: 100% !important;
  background-position: center !important;
  background-size: cover !important;
}

.card-back-ad {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background-position: center !important;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 55px !important;
  box-sizing: border-box !important;
  backface-visibility: hidden !important;
}

.card-back {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background-position: center !important;
  background-size: cover !important;
  padding: 55px !important;
  box-sizing: border-box !important;
  backface-visibility: hidden !important;
}

.input-box {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: 2.5px solid transparent;
  height: 32px;
  border-radius: 20px;
  outline: none;
  text-align: center;
  color: #cd33b4;
  font-size: 16px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.test {
  flex-direction: column;
}

.desktop {
  // display: none;
}

/* 新的mobile 設定 */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* 測試 */

.container-img-test {
  display: none;
}

@media screen and (max-width: 920px) {
  .container-img-test {
    // background-image: url("../../assets/images/mobile.png");
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
  }

  .desktop {
    display: none;
  }
}
