* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  background: url("../../assets/images/mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container span {
  height: 100%;
  color: #fff;
  font-size: 3vw;
  font-family: arial;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
}
